<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Test rule
    RewriteRule ^test-htaccess$ htaccess-works.php [L]

    # Existing rules
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>